// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "kirkwood.dtsi"
#include "kirkwood-6281.dtsi"

/ {
	model = "LG N1T1DD1";
	compatible = "lg,n1t1dd1", "marvell,kirkwood-88f6281", "marvell,kirkwood";

	memory {
		device_type = "memory";
		reg = <0x00000000 0x8000000>;
	};

	chosen {
		bootargs = "console=ttyS0,115200n8 earlyprintk root=/dev/sda1 rootdelay=10";
		stdout-path = &uart0;
	};

	ocp@f1000000 {
		pinctrl: pin-controller@10000 {
			pmx_uart0: pmx-uart0 {
				marvell,pins = "mpp4", "mpp5";
				marvell,function = "uart0";
			};

			pmx_power_off: pmx-power-off {
				marvell,pins = "mpp7";
				marvell,function = "gpo";
			};

			pmx_power_usb: pmx-power-usb {
				marvell,pins = "mpp10";
				marvell,function = "gpio";
			};

			pmx_button_ext_hdd: pmx-button-ext-hdd {
				marvell,pins = "mpp11";
				marvell,function = "gpio";
			};

			pmx_power_sata0: pmx-power-sata0 {
				marvell,pins = "mpp15";
				marvell,function = "gpio";
			};

			pmx_button_ext_odd: pmx-button-ext-odd {
				marvell,pins = "mpp16";
				marvell,function = "gpio";
			};

			pmx_power_sata1: pmx-power-sata1 {
				marvell,pins = "mpp17";
				marvell,function = "gpio";
			};

			pmx_power_usb_sense: pmx-power-usb-sense {
				marvell,pins = "mpp26";
				marvell,function = "gpio";
			};

			pmx_button_power: pmx-button-power {
				marvell,pins = "mpp29";
				marvell,function = "gpio";
			};

			pmx_led_usb: pmx-led-usb {
				marvell,pins = "mpp30";
				marvell,function = "gpio";
			};

			pmx_button_backup: pmx-button-backup {
				marvell,pins = "mpp31";
				marvell,function = "gpio";
			};

			pmx_led_odd: pmx-led-odd {
				marvell,pins = "mpp34";
				marvell,function = "gpio";
			};

			pmx_led_hdd: pmx-led-hdd {
				marvell,pins = "mpp35";
				marvell,function = "gpio";
			};
		};

		spi@10600 {
			status = "okay";

			flash@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "mxicy,mx25l4005a", "jedec,spi-nor";
				reg = <0>;
				spi-max-frequency = <20000000>;
				mode = <0>;

				partition@0 {
					reg = <0x0 0x78000>;
					label = "u-boot";
				};

				partition@78000 {
					reg = <0x78000 0x1000>;
					label = "u-boot-env";
				};
			};
		};

		serial@12000 {
			status = "ok";
		};

		sata@80000 {
			status = "okay";
			nr-ports = <2>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&pmx_led_usb &pmx_led_odd &pmx_led_hdd>;
		pinctrl-names = "default";

		usb {
			label = "status:white:usb";
			gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
		};

		odd {
			label = "status:white:odd";
			gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "ide-disk1";
		};

		hdd {
			label = "status:white:hdd";
			gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "ide-disk2";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-0 = <&pmx_button_ext_hdd &pmx_button_ext_odd &pmx_button_power &pmx_button_backup>;
		pinctrl-names = "default";

		button@1 {
			label = "EXT HDD";
			linux,code = <KEY_FN_1>;
			linux,input-type = <5>;
			debounce-interval = <1000>;
			gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
		};

		button@2 {
			label = "EXT ODD";
			linux,code = <KEY_FN_2>;
			linux,input-type = <5>;
			debounce-interval = <1000>;
			gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
		};

		button@3 {
			label = "Power";
			linux,code = <KEY_POWER>;
			gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
		};

		button@4 {
			label = "Backup";
			linux,code = <KEY_COPY>;
			gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
		};
	};

	gpio-poweroff {
		compatible = "gpio-poweroff";
		pinctrl-0 = <&pmx_power_off>;
		pinctrl-names = "default";
		gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-0 = <&pmx_power_usb &pmx_power_sata0 &pmx_power_sata1>;
		pinctrl-names = "default";

		usb_power: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "USB Power";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			regulator-always-on;
			regulator-boot-on;
			gpio = <&gpio0 10 GPIO_ACTIVE_HIGH>;
		};

		sata0_power: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "SATA0 Power";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			regulator-always-on;
			regulator-boot-on;
			gpio = <&gpio0 15 GPIO_ACTIVE_HIGH>;
		};

		sata1_power: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			regulator-name = "SATA1 Power";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			regulator-always-on;
			regulator-boot-on;
			gpio = <&gpio0 17 GPIO_ACTIVE_HIGH>;
		};
	};
};

&mdio {
	status = "okay";

	ethphy0: ethernet-phy@8 {
		reg = <8>;
	};
};

&eth0 {
	status = "okay";

	ethernet0-port@0 {
		phy-handle = <&ethphy0>;
	};
};
